.sidebar{
    font-family: 'Montserrat', sans-serif!important;
}
.sidebar-text{
    font-family: 'Montserrat', sans-serif!important;
}
.sidebar-item{
    transition: transform 0.2s ease-in-out;
}
.sidebar-item:hover{
    transform: scale(1.02);
}

@media (max-width: 1020px){
    .sidebar-item-center{
        align-items: center;
        padding: 0.5rem;
    }
    .sidebar-item-text{
        font-size: 1rem;
    }
    .sidebar-item-icon{
        margin:0.5rem;
    }
}
@media (max-width:850px){
    .sidebar-item-center{
        display: none;
    }
    .sidebar-item:hover{
        transform: scale(1.05);
    }
    .sidebar-item {
        cursor: pointer;
    }
    /* .sidebar-item-icon{
        color:black;
    } */ 

}