@media (max-width: 480px){
    .flex-remover{
        display: block;
        align-items: center;
    }
    .loginpotions{
        margin: auto;
        margin-bottom: 1rem;
    }
}
@media (max-height: 700px){
    .signinPage-rm-align{
        align-items: normal;
    }
    .signin-margin{
        margin-top: 0.8rem;
    }
}